<ul id="drivers">
    <% drivers.forEach(driver => { %>
    <li class="driver">
        <img
            class="photo"
            src="<%= driver.image %> "
            alt="<%= driver.name %> "
        />
        <div class="driver-details">
            <div class="driver-flag-no">
                <img
                    src="/flags/<%=driver.nationality %>.png"
                    alt="<%= driver.nationality %> "
                />
                <div class="no"><%= driver.number %></div>
            </div>
            <div class="driver-personal">
                <div class="name">
                    <a href="/driver/<%= driver.name.split(" ").join("_") %> "
                        ><%= driver.name %>
                    </a>
                </div>

                <div class="team">
                    Team:
                    <a href="/team/<%= driver.team.split(" ").join("_") %> "><%= driver.team %> </a>
                </div>
                <div class="born">Born: <span><%= driver.born %> </span></div>
                <div class="nationality">
                    Nationality: <span><%= driver.nationality %> </span>
                </div>
            </div>
        </div>
    </li>
    <% }) %>
</ul>
